img{
    width: 50px;
}

.container{    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    border-width: medium;
}

.logo{
    padding-left: 15px;
}

.redes-sociales{
    padding-right: 15px;
}