.row{
    background-color: black;
    padding: 20px;
}

footer{
    color: rgb(238, 238, 238);
    font-weight: bold;
    font-size: large;
    display: flex;
    flex-direction: column;
    text-align: center;
}

img{
    width: 50px;
}