<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreEdu">Nombre de la institucion</label>
                    <input type="text" class="form-control" id="nombreEdu" name="nombreEdu" [(ngModel)]="nombreEdu" required>
                </div>
                <div class="form-group">
                    <label for="descripcionEdu">Descripcion de los estudios</label>
                    <input type="text" class="form-control" id="descripcionEdu" name="descripcionEdu" [(ngModel)]="descripcionEdu" required>
                </div>
                <br>
                <button class="btn btn-success">
                    Subir Estudios
                </button>
            </form>
        </div>
    </div>
</div>