<div class="row g-0">
    <h1>Hard & Soft Skills</h1>
    <div class="col-lg-2">
        <button type="button" routerLink="/newskill" class="btn btn-secondary" *ngIf="isLogged">Nueva Skill</button>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo" *ngFor="let skill of skill">
        <circle-progress
            [title]="(skill.nombre)"
            [showTitle]="true"
            [imageSrc]="'../../../assets/html.png'"
            [showImage]="false"
            [imageHeight]="90"
            [imageWidth]="90"
            [percent]="(skill.porcentaje)"
            [radius]="80"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#c2ff9e'"
            [outerStrokeGradientStopColor]="'#5eba27'"
            [innerStrokeColor]="'#c2ff9e'"
            [animation]="true"
            [animationDuration]="800"
            [clockwise]="false"
            [outerStrokeGradient]="true"
            [showUnits]="false"
            [showSubtitle]="false"
            [backgroundColor]="'#976fa5'"
            [backgroundPadding]="-13"
        ></circle-progress>
        <div>
            <td *ngIf="isLogged">
                <button class="btn btn-primary" routerLink="/editskill/{{skill.id}}">
                    <i class="bi bi-pencil-square"></i></button>
            </td>
            <td *ngIf="isLogged">
                <button class="btn btn-danger" (click)="delete(skill.id)">
                    <i class="bi bi-trash"></i></button>
            </td>
        </div>
    </div>
</div>