<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [imageSrc]="'../../../assets/html.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [percent]="85"
            [radius]="80"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#c2ff9e'"
            [outerStrokeGradientStopColor]="'#5eba27'"
            [innerStrokeColor]="'#c2ff9e'"
            [animation]="true"
            [animationDuration]="800"
            [clockwise]="false"
            [outerStrokeGradient]="true"
            [showUnits]="false"
            [showSubtitle]="false"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [imageSrc]="'../../../assets/css.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [percent]="85"
            [radius]="80"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#c2ff9e'"
            [outerStrokeGradientStopColor]="'#5eba27'"
            [innerStrokeColor]="'#c2ff9e'"
            [animation]="true"
            [animationDuration]="800"
            [clockwise]="false"
            [outerStrokeGradient]="true"
            [showUnits]="false"
            [showSubtitle]="false"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [imageSrc]="'../../../assets/c-sharp.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [percent]="85"
            [radius]="80"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#c2ff9e'"
            [outerStrokeGradientStopColor]="'#5eba27'"
            [innerStrokeColor]="'#c2ff9e'"
            [animation]="true"
            [animationDuration]="800"
            [clockwise]="false"
            [outerStrokeGradient]="true"
            [showUnits]="false"
            [showSubtitle]="false"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [imageSrc]="'../../../assets/java.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [percent]="85"
            [radius]="80"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#c2ff9e'"
            [outerStrokeGradientStopColor]="'#5eba27'"
            [innerStrokeColor]="'#c2ff9e'"
            [animation]="true"
            [animationDuration]="800"
            [clockwise]="false"
            [outerStrokeGradient]="true"
            [showUnits]="false"
            [showSubtitle]="false"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [imageSrc]="'../../../assets/unity.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [percent]="85"
            [radius]="80"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#c2ff9e'"
            [outerStrokeGradientStopColor]="'#5eba27'"
            [innerStrokeColor]="'#c2ff9e'"
            [animation]="true"
            [animationDuration]="800"
            [clockwise]="false"
            [outerStrokeGradient]="true"
            [showUnits]="false"
            [showSubtitle]="false"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [imageSrc]="'../../../assets/github2.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [percent]="85"
            [radius]="80"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#c2ff9e'"
            [outerStrokeGradientStopColor]="'#5eba27'"
            [innerStrokeColor]="'#c2ff9e'"
            [animation]="true"
            [animationDuration]="800"
            [clockwise]="false"
            [outerStrokeGradient]="true"
            [showUnits]="false"
            [showSubtitle]="false"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [imageSrc]="'../../../assets/comunicacion.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [percent]="85"
            [radius]="80"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#c2ff9e'"
            [outerStrokeGradientStopColor]="'#5eba27'"
            [innerStrokeColor]="'#c2ff9e'"
            [animation]="true"
            [animationDuration]="800"
            [clockwise]="false"
            [outerStrokeGradient]="true"
            [showUnits]="false"
            [showSubtitle]="false"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [imageSrc]="'../../../assets/ingles.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [percent]="85"
            [radius]="80"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#c2ff9e'"
            [outerStrokeGradientStopColor]="'#5eba27'"
            [innerStrokeColor]="'#c2ff9e'"
            [animation]="true"
            [animationDuration]="800"
            [clockwise]="false"
            [outerStrokeGradient]="true"
            [showUnits]="false"
            [showSubtitle]="false"
        ></circle-progress>
    </div>
</div>